:root {
    --primary-color: #31de05f9;
    --primary-hower: #8FE000;

    --background-color: #111315;
    --card-color: #1c1f22;
    --secondary-color: #25292D;

    --text-color: #FFFFFF;
    --muted-text: #b8bec5;
    --border-color: #343a40;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: var(--background-color)
    
}
header{
    background-color: #1e1e1e;
    color: var(--primary-color);
    text-align: center;
    padding: 30px;

}
header img{
    width:250px;
    height: auto;
}
nav{
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 15px;
    flex-wrap: wrap;
}
nav a{
    text-align: center;
    text-decoration: none;
    color: var(--primary-color);
    transition: 0.3s;
    border-radius: 10px;
    
    

}
nav a:hover {
    color: var(--primary-hower);
    background-color: var(--secondary-color);
   
}
nav a.active{
    background-color: var(--primary-color);
    color:var(--text-color);
}
main{
    padding: 30px;
    max-width: 1200px;
    margin: auto;
}
main h2{
    color: var(--primary-color);
}
.game-card{
    position: relative;
    background-color: var(--card-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
    color:var(--text-color);
}
.game-card h3{
    margin-top: 0;
    font-size: 22px;
    margin: 15px 0 10px;
}
.game-card p{
    line-height: 1.5;
}
.game-card img{
    width:100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    max-height: 400px;
}
.game-badge{
    position:absolute;
    top: 15px;
    right: 15px;
    color: var(--text-color);
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}
.game-badge.rpg{
    background-color: green;
}
.game-badge.action{
    background-color: red;
}
.game-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
#games h2{
    margin-bottom: 20px;
}
#games h2::before {
    content:"▸";
    color: var(--primary-color);
}

.game-card:hover{
    transform: translateY(-15px);
    border: 1px solid var(--primary-color);
    
}
.genre {
    font-weight: bold;
    color: #15bd09;
}
.rating{
    font-weight: bold;
    color: #f1ff2e;
}
.details-button {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #393d37;
    color:aliceblue;
    text-decoration: none;
    display: inline-block;
}
.details-button:active{
    transform: scale(0.95);
}
.details-button:focus{
    outline:2px solid var(--primary-hower);
    outline-offset: 3px;
}
/*.back-to-top{
    position: fixed;
    bottom: 20px;
    right: 20px;
}*/
footer{
    background-color: #1e1e1e;
    color: var(--primary-color);
    margin-top: 30px;
}
@media (max-width: 900px){
    .game-container{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width: 600px){
    .game-container{
        grid-template-columns: 1fr;
    }
}

